@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-thumb-color: teal;
}

::-webkit-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 6px;
}

/*MDX*/
.mdx-container li {
  list-style: disc;
  margin-left: 1rem;
}

/*carousel library class*/
.carousel-root li {
  list-style: none !important;
  margin-left: 0;
}

/*custom css for carousel library*/
.carousel .slide {
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
  opacity: 0.6;
  transform: scale(0.9);
}

.carousel .slide.selected {
  opacity: 1;
  transform: scale(1);
}

@layer components {
  .carousel .control-dots .dot {
    @apply bg-slate-400 dark:bg-slate-600 opacity-70;
  }

  .carousel .control-dots .dot.selected {
    @apply bg-teal-500 opacity-100;
  }
}
